@using YinXiang.Models.Dtos
@model IList<SendBatchDeviceHistoryDto>
@{ Layout = null;}
<div class="table-responsive" id="sendBatchHistoryGrid">
    @{
        var grid = new WebGrid(defaultSort: "BatchNo", rowsPerPage: 20,ajaxUpdateContainerId: "sendBatchHistoryGrid",
            ajaxUpdateCallback: "sortCallback()");
        grid.Bind(Model, autoSortAndPage: false, rowCount: ViewBag.TotalRowCounts);
    }
    @grid.GetHtml(columns: grid.Columns(
             grid.Column("BatchNo", header: "批次码"), 
             grid.Column("DeviceName", header: "设备名称"),
             grid.Column("IP", header: "ip地址"),
             grid.Column("Account", header: "绑定账号"),
             grid.Column("CreateTime", header: "时间", format: @<text>@(item.CreateTime.ToString("yyyy-MM-dd HH:dd:ss"))</text>)
             ),
                              tableStyle: "table table-bordered"
                              )
</div>

