@using YinXiang.Models
@model IEnumerable<ApplicationUser>

<div class="container-fluid">

    <!-- Breadcrumbs-->
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">批次管理</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
        </ol>*@
    <h3>账号管理</h3>
    <hr>

    <div class="card mb-3">
        <div class="card-header">
            @*<i class="fas fa-table"></i>
                Data Table Example*@
            <ul class="nav">
                <li class="nav-item">
                    <a class="btn" href="#" data-toggle="modal" data-target="#addAccount">添加账号</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @{
                    var grid = new WebGrid(Model);
                }
                @grid.GetHtml(columns: grid.Columns(
                            grid.Column("UserName", header: "用户名"),
                            grid.Column("BindingIp", header: "IP地址"),
                            grid.Column("CreateTime", header: "创建日期", format: @<text>@item.CreateTime.ToString("d")</text>),
                         grid.Column(format: (item) => Html.Raw("<a class='btn' href='javascript:void(0);' data-toggle='modal' data-target='#changePassword' data-whatever='" + item.Id + "'>修改密码</a>"
                         +"<a class='btn' href='javascript:void(0);' onclick='deleteAccount(\"" + item.Id + "\")'>删除</a>"))
     ),
         tableStyle: "table table-bordered"
   )
            </div>
        </div>
    </div>


</div>


<div class="modal fade" id="addAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">添加账号</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("addAccount", "ManageAccount", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
            <div class="modal-body">

                <div class="form-group">
                    <label for="formGroupExampleInput">用户名</label>
                    <input type="text" class="form-control" id="UserName" name="UserName" placeholder="用户名">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">密码</label>
                    <input type="password" id="Password" name="Password" class="form-control" required="required">

                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">密码</label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required="required">
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput">IP</label>
                    <input type="text" class="form-control" id="BindingIp" name="BindingIp" placeholder="IP">
                </div>

            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            }
        </div>

    </div>
</div>
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">修改密码</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("ChangePassword", "ManageAccount", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-group">
                    <label for="formGroupExampleInput">旧密码</label>
                    <input type="hidden" name="Id" value="" />
                    <input type="password" id="OldPassword" name="OldPassword" class="form-control" required="required">

                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">新密码</label>
                    <input type="password" id="NewPassword" name="NewPassword" class="form-control" required="required">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">确认密码</label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required="required">
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
           }
        </div>

    </div>
</div>
<script src="~/Scripts/jquery/jquery.js"></script>
<script>
    $(function () {
        $('#changePassword').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('whatever');
            var modal = $(this);
            modal.find(':hidden[name=Id]').val(id);
        })
    });
    function deleteAccount(id) {
        $.post('/ManageAccount/Delete', { id: id }, function (result) {
            if (result == '删除失败') {
                alert(result);
                return;
            }
            location.reload();
        });
    }
</script>


