@using YinXiang.Models


<div class="container-fluid">

    <!-- Breadcrumbs-->
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">批次管理</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
        </ol>*@
    <h3>批次统计</h3>
    <hr>

    <div class="card mb-3">
        <div class="card-header">
            <ul class="nav">
                <li class="nav-item">
                    <a class="btn" href="#">上传批次信息</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            </div>
        </div>
    </div>

</div>


