<div class="container-fluid">

    <!-- Breadcrumbs-->
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">批次管理</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
        </ol>*@
    <h3>批次管理</h3>
    <hr>


    <div class="card mb-3">
        <div class="card-header">
            @*<i class="fas fa-table"></i>
        Data Table Example*@
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">申请批次码</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">手动输入</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">上传批次信息</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            </div>
        </div>
    </div>
    <!-- Page Content -->
    @*<h1>Blank Page</h1>
        <hr>
        <p>This is a great starting point for new custom pages.</p>*@

</div>
