    <div class="container-fluid">

    <!-- Breadcrumbs-->
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">批次管理</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
        </ol>*@
    <h3>批次管理</h3>
    <hr>

    <div>
        <form id="frmBatchSearch">
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label for="formGroupExampleInput">批次码</label>
                    <input type="text" class="form-control" id="batchNo" name="batchNo" placeholder="批次码">
                </div>
                <div class="form-group col-md-3">
                    <label for="formGroupExampleInput">产品名称</label>
                    <input type="text" class="form-control" id="name" nameame="name" placeholder="产品名称">
                </div>
                <div class="form-group col-md-3">
                    <label for="formGroupExampleInput">产品规格</label>
                    <input type="text" class="form-control" id="sku" name="sku" placeholder="产品类别">
                </div>
                <div class="form-group col-md-3">
                    <label for="formGroupExampleInput">日期</label>
                    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                        <input type="text" class="form-control" name="batchDate" value="@(ViewBag.BatchDate.ToString("yyyy-MM-dd"))">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <a class="btn" href="javascript:void(0);" onclick="loadBatchData()">获取</a>
                </div>
            </div>
        </form>
    </div>
    <div class="card mb-3">        
        <div id="BatchListDiv" class="card-body">
        </div>
    </div>
    <!-- Page Content -->
    @*<h1>Blank Page</h1>
        <hr>
        <p>This is a great starting point for new custom pages.</p>*@

</div>

<div class="modal fade" id="sendBatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">批次发送</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="formGroupExampleInput">批次码</label>
                        <input type="text" class="form-control" id="Code" name="Code" placeholder="批次码">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">设备</label>
                        <select class="form-control" id="DeviceSelect" name="SelectedDevices" placeholder="请选择设备">

                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">发送</button>
                </div>
        </div>
        <script>
            $('#sendBatch').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var code = button.data('whatever');
                alert(codel)
                var modal = $(this);
                modal.find('#Code').val(code);
            })
        </script>
    </div>
</div>
<div id="alertMsgModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalCenterTitle"> </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<script>
    function loadBatchData() {
        $.get('/Batch/List?' + $('#frmBatchSearch').trimSerialize(), function (data) {
            $('#BatchListDiv').html(data);
        });
    }
    function sendBatchNoToDevice(batchNo) {
        $.post('/Batch/SendBatchNoes', 
        { 'BatchNo': batchNo, 'DeviceName': 'test', 'IP': '127.0.0.0', 'Account': 'test account' },
        function (result) {
            if (result == "发送成功")
                $('#btn_' + batchNo).hide();
            $('#alertMsgModal .modal-body').html(result);
            $('#alertMsgModal').modal('show');
        })
    }
    function selectSendDevices() {
        alert($('#SelectBatchCodes').val())
    }
</script>
