@using YinXiang.Models
@model IEnumerable<BatchInfo>

<div class="container-fluid">

    <!-- Breadcrumbs-->
    @*<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">批次管理</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
        </ol>*@
    <h3>批次管理</h3>
    <hr>


    <div class="card mb-3">
        <div class="card-header">
            @*<i class="fas fa-table"></i>
                Data Table Example*@
            <ul class="nav">
                <li class="nav-item">
                    <a class="btn" href="#" data-toggle="modal" data-target="#requestBatchCode">申请批次码</a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="#" data-toggle="modal" data-target="#manualInput">手动输入</a>
                </li>
                <li class="nav-item">
                    <a class="btn" href="#" >完成批次</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @{
                    var grid = new WebGrid(Model, defaultSort: "Name");
                }
                @grid.GetHtml(columns: grid.Columns(
                            grid.Column("Code", header: "批次码"),
                            grid.Column("ProductType", header: "产品类别"),
                            grid.Column("Quantity", header: "数量"),
                            grid.Column("Source", header: "输入方式"),
                            grid.Column("Date", header: "日期", format: @<text>@item.Date.ToString("d")</text>)

                           ),
                           tableStyle: "table table-bordered"
                     )
            </div>
        </div>
    </div>
    <!-- Page Content -->
    @*<h1>Blank Page</h1>
        <hr>
        <p>This is a great starting point for new custom pages.</p>*@

</div>


<div class="modal fade" id="requestBatchCode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">申请批次码</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("RequestBatchCode", "Batch", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">

                    <div class="form-group">
                        <label for="formGroupExampleInput">产品类别</label>
                        @*@Html.TextBoxFor(m => m.ProductType, new { @class = "form-control", @placeholder = "产品类别" })*@
                        <input type="text" class="form-control" id="ProductType" name="ProductType" placeholder="产品类别">
                        @*<input type="text" class="form-control" id="productType" placeholder="产品类别">*@
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">数量</label>
                        <input type="text" class="form-control" id="Quantity" name="Quantity" placeholder="数量">
                        @*@Html.TextBoxFor(m => m.Quantity, new { @class = "form-control", @placeholder = "数量" })*@
                        @*<input type="text" class="form-control" id="productQuantity" placeholder="数量">*@
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">日期</label>
                        @*<input class="form-control" >*@
                        @*<input type="text" class="form-control" name="Date" id="datepicker">*@
                        @*<input type="date" class="form-control">*@
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control" name="Date">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            }
        </div>

    </div>
</div>


<div class="modal fade" id="manualInput" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">手动输入批次码</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("ManualInput", "Batch", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">


                    <div class="form-group">
                        <label for="formGroupExampleInput">批次码</label>
                        <input type="text" class="form-control" id="Code" name="Code" placeholder="批次码">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">产品类别</label>
                        <input type="text" class="form-control" id="ProductType" name="ProductType" placeholder="产品类别">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">数量</label>
                        <input type="text" class="form-control" id="Quantity" name="Quantity" placeholder="数量">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">日期</label>
                        <input data-provide="datepicker" class="form-control" name="Date" id="Date">
                        @*<input type="date" class="form-control" id="Date" name="Date">*@
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            }
        </div>
    </div>
</div>
